@import './../../partials';
@import './../../root';
.header{
    
    padding: 0px 24px;
    // border-bottom: 1px solid $border_alt;
    border-bottom: 1px solid var(--border_alt);
    gap: 5px;
    .headerLink{
        font-weight: 400;
        // color: $dm_grey_main;
        color: $dm_grey_main;
        text-decoration: none;
        padding: 15px 2px;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:after{
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            content: '';
            bottom: 0;
            height: 3px;
        }
        &:hover{
            &:after{
                // background-color: $primary;
                background-color: var(--primary);
            }
        }
        &.active{
            font-weight: 500;
            &:after{
                // background-color: $primary;
                background-color: var(--primary);
            }
        }
    }

    .headerDatepicker{
        margin-left: auto;
        .datePickWrap{
            padding: 0;
            // border: 1px solid $border_alt;
            border: 1px solid var(--border_alt);
            border-radius: 8px;
        }
        .form-control{
            padding: 0px 10px;
            border: none;
            background-color: transparent;
            box-shadow: none;
            height: unset;
            min-height: 32px;
            line-height: 32px;
            font-size: 0.8rem;
            box-sizing: border-box;
            // color: $grey_main;
            color: $grey_main;
            font-weight: 300;
            &::placeholder{
                opacity: 0.7;
            }
        }
    }
}