$primary: #AC80F7;
$secondary: #5C79EE;

$grey_main: #53575E;
$grey_alt: #A2A5AC;
$grey_dot: #646C78;

$green: #66BD50;
$orange: #EF934D;
$yellow: #EBBC46;
$red: #DE4841;

$bg_main: #ffffff;
$white: #ffffff;

$border_main: #E9EBF0;

$title-dark: #313131;

$border_alt: #E8EAED;
$card_boder:#E8EAED;
$table_row_border:#DEDEDE;
$table_content_light:#A2A5AC;
$table_td_bg:#FDFCFF;
$text-dark-color:#868991;
$table_content:#646C78;
$task_tod:#4D4D4D;
$white_color:#fff;
$subtasks_item_border:#434547;
$light_btn_hover:#f1f1f1;
$scroll_track:#f8f6fa;
$scroll_thumb:#ECDFF5;
$scroll_thumb_hover:#dfc6f1;
$box_shadow:#00030614;
$box_shadow_2:#00030624;
$input_bg:#F6F7F9;

// avathar circle bg 
$round-color-1:#5C79EE;
$round-color-2:#EF934D;
$round-color-3:#AC80F7;
$round-color-4:#DE4841; 
$round-color-5:#66BD50;


// dark mode
$dm_grey_main: #C7CAD0;
$dm_grey_alt: #A2A5AC;

$dm_bg_main: #1F2122;
$dm_bg_alt: #2B2E33;

$dm_border_main: #212325;
$dm_border_alt: #2B2E33;

// input color
$inp_border: #C4C4C4;
$inp-color: #8E8E8E;